<launch>
    <node name="qrcode_wifi_node" pkg="xiaoqiang_qrcode_wifi" type="qrcode_wifi_node" output="screen">
        <!-- 图像输入话题 -->
        <remap from="~image" to="/camera_node/image_raw" />
        <!-- 语音文字输出话题 -->
        <remap from="~text" to="/xiaoqiang_tts/text" />
        <param name="is_enabled" value="true" />
    </node>
    <include file="$(find xiaoqiang_tts)/launch/tts_xunfei.launch" />
    <node name="camera_node" pkg="cv_camera" type="cv_camera_node" respawn="true" respawn_delay="10">
        <param name="device_path" value="/dev/video001"/>
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="framerate" value="30" />
        <param name="time_delay" value="30" />
        <param name="camera_frame_id" value="head_camera" />
    </node>
</launch>
