<launch>
    <node name="qrcode_wifi_node" pkg="xiaoqiang_qrcode_wifi" type="qrcode_wifi_node" output="screen">
        <!-- 图像输入话题 -->
        <remap from="~image" to="/camera_node/image_raw" />
        <!-- 语音文字输出话题 -->
        <remap from="~text" to="/xiaoqiang_tts/text" />
    </node>
    <include file="$(find xiaoqiang_tts)/launch/tts_xunfei.launch" />
    <include file="$(find usb_cam)/launch/ov2610.launch" />
</launch>
